.container {
    display: grid;
    grid-template-rows: 150px 1fr;
    place-items: center;
    gap: 10px;

    width: 150px;
    height: 175px;

    & img {
        height: 100%;
        width: 100%;
    }
}
